<app-navbar class="nav"></app-navbar>
<div class="extra">
    <img src="../../../assets/image/blog-bg.jpg" alt="" style="height: 70vh;" width="100%">

    <div class="filter-container ">
        <ul class="links-container">
            <li class="filter-links filter-container-active" (click)='linkActive($event); getAllPosts()'>All</li>
            <li class="filter-links" *ngFor='let category of categories'
                (click)='linkActive($event); getPostsByCategory(category.id)'>{{category.title}}</li>
        </ul>
    </div>

    <div class="selectdiv">
        <label>
            <select (input)="getPostsByCategory($event.target);">
                <option selected disabled>Categories</option>
                <option>All</option>
                <option *ngFor="let category of categories" [value]='category.id'>{{category.title}}</option>
            </select>
        </label>
    </div>

    <div class="container">
        <div class="card-container" *ngFor='let post of posts'>
            <div class="card" [id]="post.id">
                <div class="image-data">
                    <div class="background-image" [ngStyle]="{'background-image': 'url('+ post.miniature + ')'}"></div>
                    <div class="publication-details">
                        <a href="https://german-moschetti.netlify.app/" target="__blank" class="author"><i
                                class="fas fa-user"></i> {{post.user.first_name}}
                            {{post.user.last_name}}</a>
                        <span class="date"><i class="fas fa-calendar-alt"></i> {{post.created_at | date: 'MMMM d, y'}}
                        </span>
                    </div>
                </div>

                <div class="post-data">
                    <h1 class="title">{{post.title}}</h1>
                    <h2 class="subtitle">{{post.description}}</h2>
                    <p class="description">
                        <span style="margin-left: .8rem;">
                            {{post.content}}
                        </span>

                    </p>
                    <div class="cta">
                        <a (click)='showPost(post.id)'>Read more &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- POST ID -->

<div class="post">
    <div class="container-post" *ngIf='postDetail'>
        <img [src]="postDetail.miniature" class="post-image" alt="">

        <div class="post-detail-container">
            <div class="post-detail-data">
                <div class="post-detail-information">
                    <i (click)='hidePost()' class="fas fa-arrow-left"></i>
                    <div class="post-detail-date">
                        <a href="https://german-moschetti.netlify.app/" target="__blank" class=""><i
                                class="fas fa-user"></i>
                            {{postDetail.user.first_name}} {{postDetail.user.last_name}}</a>
                        <span><i class="fas fa-calendar-alt"></i>{{postDetail.created_at | date: 'MMMM d, y'}}</span>
                    </div>
                </div>
                <h2>{{postDetail.title}}</h2>
                <h3>{{postDetail.description}}</h3>
                <p *ngFor="let content of contentPost">{{content}}</p>


                <h4 class="comment-title">Comments</h4>
                <div class="create-comment">
                    <form action="" #commentForm name="commentForm">
                        <textarea name="" id="" cols="30" rows="10" [(ngModel)]='content' (click)='logged()'
                            (focus)='logged()' name="content" placeholder="Write your comment here..."></textarea><br>
                        <div class="btn-container">
                            <button class="btn-comment" (click)='createComment(commentForm)'>Send</button>
                        </div>
                    </form>
                </div>
                <div *ngIf='comments'>
                    <div class="comment-box" *ngFor='let comment of comments'>
                        <div class="img-porf-container">
                            <img src="" alt="">
                        </div>
                        <div class="comment">
                            <div class="comment-info">
                                <h4>{{comment.user.username}}</h4>
                                <span> {{comment.created_at | date: 'MMM d, y'}}.</span>
                            </div>
                            <p>{{comment.content}}</p>
                        </div>
                    </div>

                </div>
            </div>


        </div>



    </div>
</div>