<app-navbar></app-navbar>
<div class="container">
    <div class="shape-one"></div>

    <div class="first-page">
        <div class="first-content">
            <div class="title">
                <h1>Welcome to YoTrabajo</h1>
                <h2>We are a platform that supports your professional development</h2>
                <div class="btn-more">
                    <button>Know more...</button>
                </div>
            </div>

            <div class="img-home">
                <img src="../../../assets/image/home.svg" alt="">
            </div>
        </div>
    </div>
    <div class="second-page">
        <div class="blog-header">
            <h3>What we offer?</h3>
            <h4>Blog Section</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea incidunt ipsam et, aliquid ut accusamus.
                Maiores
                porro repudiandae dignissimos consequuntur, cumque, reiciendis, accusantium qui ad magni praesentium ab
                excepturi voluptatem?</p>
        </div>

        <div class="cards-div">
            <div class="container-cards">
                <img src="http://127.0.0.1:8000/posts/images/backiee-194087_0qs0lim.jpg" alt="">
                <div class="publication-details">
                    <a href="https://german-moschetti.netlify.app/" target="__blank" class="author"><i
                            class="fas fa-user"></i> German
                        Moschetti</a>
                    <span class="date"><i class="fas fa-calendar-alt"></i> 21 Octubre, 2021
                    </span>
                </div>
            </div>

            <div class="container-cards">
                <img src="http://127.0.0.1:8000/posts/images/backiee-194087_0qs0lim.jpg" alt="">
                <div class="publication-details">
                    <a href="https://german-moschetti.netlify.app/" target="__blank" class="author"><i
                            class="fas fa-user"></i> German
                        Moschetti</a>
                    <span class="date"><i class="fas fa-calendar-alt"></i> 21 Octubre, 2021
                    </span>
                </div>
            </div>

            <div class="container-cards">
                <img src="http://127.0.0.1:8000/posts/images/backiee-194087_0qs0lim.jpg" alt="">
                <div class="publication-details">
                    <a href="https://german-moschetti.netlify.app/" target="__blank" class="author"><i
                            class="fas fa-user"></i> German
                        Moschetti</a>
                    <span class="date"><i class="fas fa-calendar-alt"></i> 21 Octubre, 2021
                    </span>
                </div>
            </div>

            <div class="container-cards">
                <img src="http://127.0.0.1:8000/posts/images/backiee-194087_0qs0lim.jpg" alt="">
                <div class="publication-details">
                    <a href="https://german-moschetti.netlify.app/" target="__blank" class="author"><i
                            class="fas fa-user"></i> German
                        Moschetti</a>
                    <span class="date"><i class="fas fa-calendar-alt"></i> 21 Octubre, 2021
                    </span>
                </div>
            </div>


        </div>
    </div>
</div>





<!--                 <img src="https://images.unsplash.com/photo-1569390173732-5c735072c80f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="">
                <img src="https://images.unsplash.com/photo-1582842195329-6a0baffd2a39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="">
                <img src="https://images.unsplash.com/photo-1600722230999-22c256d38cb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="">
                <img src="https://images.unsplash.com/photo-1600722230999-22c256d38cb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="">
                <img src="http://127.0.0.1:8000/posts/images/backiee-194087_0qs0lim.jpg"
                    alt=""> -->

<!--                     <div class="image-data">
                        <div class="background-image">
                        <img src="http://127.0.0.1:8000/posts/images/backiee-194087_0qs0lim.jpg" alt=""></div>
                        <div class="publication-details">
                            <a href="https://german-moschetti.netlify.app/" target="__blank" class="author"><i
                                    class="fas fa-user"></i> German
                                Moschetti</a>
                            <span class="date"><i class="fas fa-calendar-alt"></i> 21 Octubre, 2021
                            </span>
                        </div>
                    </div>
 -->