.container {
    height: 100%;
    width: 100vw;
}

.shape-one {
    position: relative;
    min-height: 900px;
    height: auto;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 81%, 0 100%, 0 100%);
    background: var(--first-color);
}

/* .first-page {
    position: relative;
} */

.first-content {
    min-height: 100%;
    padding: 150px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title {
    color: #fff;
    width: 52%;
}

.title h1 {
    width: 100%;
    font-size: 3.7rem;
    color: #fff;
    margin-bottom: 1rem;
}

.title h2 {
    width: 100%;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.527);
}

.btn-more {
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.btn-more a {
    width: 150px;
    text-decoration: none;
    color: var(--second-color);
    background: transparent;
    border: 1px solid var(--second-color);
    font-size: 1.05rem;
    font-weight: 600;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.btn-more a:hover {
    color: var(--first-color);
    background: var(--second-color);
    transition: ease-in-out .4s;
    cursor: pointer;
}

.img-home {
    width: 27rem;
    height: 27rem;
}

.img-home img {
    width: 100%;
    height: 100%;
}

.second-page {
    width: 100%;
}

/* MEDIA QUERY */



/* PRE-CARDS */

.blog-header {
    width: 80%;
    margin: 0 auto;
}

.blog-header h3 {
    text-align: center;
    font-size: 2.8rem;
    color: var(--first-color);
}

.blog-header h4 {
    margin: 3rem 0 1.5rem 0;
    font-size: 2.5rem;
    color: var(--first-color);
}

.blog-header p {
    font-size: 1.38rem;
    line-height: 1.5;
    color: var(--first-color);
}

/* END PRE-CARDS */

/* CARDS */

.cards-div {
    margin: 5rem 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-cards {
    margin: 1rem;
    width: 277px;
    position: relative;
}

.container-cards img {
    width: 100%;
    height: 362px;
    object-fit: cover;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004); */
    transform-origin: center;
    transition: 0.5s;
    box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.568);
}

.publication-details {
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: perspective(500px) rotateY(70deg);
    background: var(--gradient-color);
    font-size: .94rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: .4rem;
    opacity: 0;
    transition: .5s;
}

.publication-details h3{
    display: flex;
    bottom: 70px;
    position: absolute;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.publication-details h4{
    display: flex;
    top: 83%;
    position: absolute;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: #ccc;
}

.container-cards:hover img {
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;
}

.container-cards:hover .publication-details {
    opacity: 1;
    transform: perspective(500px) rotateY(0deg);
}

.publication-details i {
    margin-right: .4rem;
}

.author {
    color: #fff;
    display: inline-block;
    margin-bottom: .4rem;
    transition: all .3s;
}

.author:hover {
    color: rgba(255, 255, 255, .75);
}

.date {
    display: block;
}

.post-data {
    background: #fff;
    padding: .75rem 1.4rem;
    position: relative;
    border-radius: 10px;
}

/* END CARDS */

.shape-two {
    margin-top: 150px;
    width: 100%;
    height: 1100px;
    clip-path: polygon(100% 10%, 100% 55%, 100% 100%, 41% 100%, 0 100%, 0 12%, 35% 0);
    background: var(--first-color);
    position: relative;
}

.third-page {
    position: relative;
    color: white;
    top: 12%;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.portfolio-header {
    padding-top: 1.8rem;
}

.portfolio-header h4 {
    margin: 2.5rem 0;
    font-size: 2.5rem;
    color: #fff;
}

.portfolio-header p {
    font-size: 1.38rem;
    line-height: 1.7;
}

/* VIDEO */

.video-responsive {
    width: 70%;
    margin: 4.5rem auto;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}

.video-responsive iframe, .video-responsive object, .video-responsive embed {
    height: 70%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* CIRCLES SECTION */

.fourth-page {
    color: var(--first-color);
    text-align: center;
    margin: 0 auto 8rem auto;
    width: 80%;
}

.fourth-page h3 {
    margin: 3rem 0 3rem 0;
    font-size: 3rem;
    color: var(--first-color);
}

.fourth-page p {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3;
    margin: 0.5rem 0;
}

.circles-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.circle {
    width: 150px;
    height: 150px;
    margin: 3rem 3rem;
}

.circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media screen and (max-width:1100px) {
    .title {
        width: 90%;
        text-align: center;
    }
    .title h2 {
        margin: 0 auto;
        text-align: center;
    }
    .shape-one {
        width: auto;
        width: 100%;
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 77% 92%, 0 100%, 0% 60%, 0 0);
    }
    .blog-header {
        width: 90%;
        text-align: center;
    }

    .shape-two {
        margin-top: 150px;
        width: 100%;
        height: 1100px;
        clip-path: polygon(100% 10%, 100% 55%, 100% 100%, 41% 100%, 0 100%, 0 12%, 35% 0);
        background: var(--first-color);
        position: relative;
    }

    .video-responsive{
        width: 90%;
        height: 637px;
    }
}
@media screen and (max-width:770px) {
    .title {
        width: 100%;
    }
    .title h1{
        font-size: 3rem;
    }
    .title h2 {
        display: none;
    }

    .btn-more a{
        padding: 12px;
        font-size: 1rem;
    }

    .blog-header{
        width: 90%;
    }

    .blog-header h3{
        font-size: 2.5rem;
    }
    .blog-header h4{
        font-size: 2.2rem;
    }
    .blog-header p{
        font-size: 1.19rem;
        text-align: justify;
    }

    .container-cards{
        width: 230px;
    }

    .container-cards img{
        height: 300px;
    }

    .third-page{
        width: 90%;
    }
    .publication-details {
        font-size: .8rem;
    }
  
    .portfolio-header h4 {
        font-size: 2.2rem;
    }
    
    .portfolio-header p {
        font-size: 1.19rem;
        text-align: justify;
    }

    .fourth-page h3{
        font-size: 2.5rem;
    }
    .fourth-page p{
        font-size: 1.19rem;
    }

    .circle{
        width: 130px;
        height: 130px;
    }
    /* VIDEO */
    
    .video-responsive {
      width: 100%;
      height: 580px;
    }
    
    .video-responsive iframe, .video-responsive object, .video-responsive embed {
        height: 70%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

@media screen and (min-width:1100px) {
    .container-cards img {
        transform: perspective(800px) rotateY(25deg);
    }
}