<nav class="menu fixed-top">
    <label for="" class="logo"><span class="ml-2 pt-3" style="font-family: 'Courier New', Courier, monospace"><a href="#gallery">Yo<span style="color: rgb(235, 208, 60);">Trabajo</span></a></span></label>
    <ul class="menu-items">
        <li (click)='showAndHideMenu()'><a routerLink="/home">Home</a></li>
        <li (click)='showAndHideMenu()'><a href="#gallery">About</a></li>
        <li (click)='showAndHideMenu()'><a routerLink="/blog">Blog</a></li>
        <li (click)='showAndHideMenu()' ><a href="#gallery">Portfolio</a></li>
    </ul>
    <ul class="menu-items-end" *ngIf="!user">
        <li (click)='showAndHideMenu()'><a routerLink="/login">Login</a></li>
        <li (click)='showAndHideMenu()'><a routerLink="/login">Sign up</a></li>
    </ul>
    <ul class="menu-items-end" *ngIf="user">
        <li (click)='showAndHideMenu()'><a routerLink="/login">{{user}}</a></li>
    </ul>
    <span class="btn-menu" (click)='showAndHideMenu()'><i class="fa fa-bars"></i></span>
</nav>