@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
h3{
    font-family:Quicksand;
}
.alert{
  position: fixed;
  top: 0;
  left: 25%;
  width:50%;
  margin: 30px auto;
  border-radius:5px;
  z-index: 33;
  border-left: 5px solid;
}

.success-alert{
    background-color: #9bd7b4;
    padding:40px;
    box-shadow:0 0 15px 5px rgba(77, 70, 70, 0.253);
    color:#178f0c;
}