/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --first-color: #11101d;
    --gradient-color: linear-gradient(to right bottom, rgba(17, 16, 29, .7), rgba(4, 190, 254, .8));
    --second-color: rgba(4, 190, 254, .8);
  }

body{
    background-color: #eee;
}