/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html{
    font-size: 15px;
} */

:root {
    --first-color: #11101d;
    --gradient-color: linear-gradient(to right bottom, rgba(17, 16, 29, .7), rgba(4, 190, 254, .8))
  }
    /* --gradient-color: linear-gradient(to right bottom, rgba(255, 185, 0, .8), rgba(255, 119, 48, .8) )
  } */

body{
    background-color: #eee;
}